header{
    height: 100px;
    position: static;
    left: 0;
    top:0;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(55, 55, 215);
    font-style: oblique;
    font-weight: 300;
}
.KerimLogo{
    width: 250px;
margin-left: 30px;
margin-top: 30px;
cursor: pointer;
}
.KerimLogo:hover{
    opacity: 60%;
}
.placanje{
    margin-left: 350px;
    font-size: 40px;
}
.GlavniDiv{
    display: flex;
    /* position: absolute; */
    top: 150px;
    left: 250px;
    right: 250px;
    height: 60%;
    width: 900px;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 300px;
}
.lijeviDiv{
    width: 600px;
    /* margin-left: 150px; */

}.tekstDiva{
    margin-left: 10px;
}
.desniDiv{
    border: none ;
    background-color: rgb(243, 243, 243);
    margin-left: 100px;
    width: 250px;
    height: 350px;
    padding: 10px;
    border-radius: 15px;
    
}
body{
    /* height: 900px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.DetNar
{
    margin-top: 20px;
    font-size: 25px;
}
.btn{
    background-color: rgb(254,215,19);
    width: 230px;
    margin-left: 8px;
    margin-right: 2px;
    height: 50px;
    border-radius: 20px;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
}
.SpanDesnogDiva{
    display: block;
    padding-bottom: 30px;
}
.AmazonLogo{
position: absolute;
width: 220px;
right: 50px;
top: 40px;
}
.KrajStranice{
    bottom: 0px;
    height: 120px;
    background-color: black;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    color: white;
    

}
.SlikaDiv{
    width: 100px;
    /* background-size:cover ; */
    /* background-position: center; */
}
.slikaArtikla{
    width: 140px;
    margin-left: 30px;
    padding-left: 20px;
}
body,html{
    padding: 0;
margin: 0;
}
.Sve{
    display: flex;
    flex-wrap: wrap;
}
.KrajStraniceTekst{
    margin-left: 30px;
    margin-top: 40px;
}
.ElementDiva{
    display: flex;
    border: none;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 10px;
    background-color: rgb(243, 243, 243);
}
.ImeElementa,.cijenaElementa,.KolicinaElementa{
    margin-left: 40px;
}
.slikaArtika
{
height: 100px;
}
.ElementDiva{
    margin-left: 10px;
    padding-top: 40px;
}
.SpanDesnogDiva4{
    display: inline-block;
    margin-bottom: 40px;
}
.SpanDesnogDiva{
    display: inline-block;
}
.SpanDesnogDiva2{
    display: inline-block;
}
.desniSpan4,.desniSpan3{
    /* margin-left: 20%; */
}
.PosebniSpan{
    margin-left: 20%;
}

.SpanDesnogDiva,.SpanDesnogDiva2,.SpanDesnogDiva4{
    padding-bottom: 30px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(183, 155, 17);;
}
.btn:active{
    opacity: 60%;
}
/* .desniSpan3{
    position: absolute;
    right: 80px;
    bottom: 40px;
} */
.RadioDiv{
    display: block;
    margin-left: 20px;
}
.NaslovRadio{
    display: block;
    width: 230px;
}
.radio{
    font-size: 14px;
    position: relative;
    right: 0;
    margin-top:20px ;
   /* margin-left: 40px; */
   /* margin-bottom: 40px; */
}
.radio3.radio2,.radio1{
/* display: flex; */
}
input{display: flex;}
.ImeElementa{
    margin-bottom: 20px;
}
.desniSpan2{
    margin-left: 20px;
}
.izbrisiButton{
    margin-top: 15px;
    margin-left: 15px;
    width: 80px;
    border-radius: 4px;
    height: 30px;
    border:none;
    background-color: rgb(167, 235, 213);
}
.izbrisiButton:hover{
    background-color: rgb(125, 174, 158);
    cursor: pointer;
}
.izbrisiButton:active{
    opacity: 60%;
}