header{
    height: 100px;
    position: static;
    left: 0;
    top:0;
}
.KerimLogo{
    width: 350px;
}
.placanje{
    margin-left: 260px;
    font-size: 40px;
}
.GlavniDiv{
    display: flex;
    border-color: black;
    border: solid 2px;
    position: absolute;
    top: 150px;
    left: 250px;
    right: 250px;
    height: 600px;
}
.lijeviDiv{
    border: solid 2px;
    border-color: aqua;
    width: 300px;
    margin-left: 150px;

}
.desniDiv{
    border: solid 2px;
    border-color: rgb(105, 190, 21);
    margin-left: 200px;
    width: 250px;
    
}
body{
    height: 900px;
}